@import '@/styles/scss/import.scss';

.navbar {
    width: 100%;
    max-height: 50px;
    height: 100%;

    @include background-color(white);

    .container {
        height: 100%;
        align-items: center;
    }

    &__logo {
        width: 200px;
    }
}
