/**
 * Font family variable (Global)
 */

$font-primary: 'Avenir Next', sans-serif;
$font-secondary: 'Roboto', sans-serif;

/**
 * Font size title section
 */
$font-size-heading: (
    heading: 24px,
    desc: 16px,
    main-heading: 32px
);

/**
 * Font size navbar component
 */
$font-size-nav: (
    nav-icon: 16px,
    nav-list: 14px,
    nav-desc: 12px,
    cta: 13px,
    badge: 10px
);

/**
 * Font size card
 */
$font-size-card: (
    price: 18px,
    title: 16px,
    title-large: 20px,
    address: 14px,
    tags: 12px
);

/**
 * Breadcrumb size card
 */
$font-size-breadcrumb: 14px;

/**
 * Pagination button
 */
$pagination-font-size: 14px;

/**
 * Listing Property size card
 */
$font-size-listing-property: (
    title: 24px,
    label-text: 14px,
    dropdown: 13px
);
